<?xml version="1.0"?>
<!--
/**
 * This is the main configuration file. Defines all models, blocks,
 * helpers, etc.
 */
-->
<config>
    <modules>
        <Wfn_Reptag>
            <version>1.0.0.0</version>
        </Wfn_Reptag>
    </modules>
    <global>
        <resources>
            <wfn_reptag_setup>
                <setup>
                    <module>Wfn_Reptag</module>
                </setup>
            </wfn_reptag_setup>
        </resources>
        <helpers>
            <wfn_reptag>
                <class>Wfn_Reptag_Helper</class>
            </wfn_reptag>
        </helpers>
        <models>
            <wfn_reptag>
                <class>Wfn_Reptag_Model</class>
                <resourceModel>wfn_reptag_resource</resourceModel>
            </wfn_reptag>
            <wfn_reptag_resource>
                <class>Wfn_Reptag_Model_Resource</class>
                <entities>
                    <tag>
                        <table>wfn_reptag_tag</table>
                    </tag>
                    <relation>
                        <table>wfn_reptag_tag_relation</table>
                    </relation>
                </entities>
            </wfn_reptag_resource>
        </models>
    </global>
</config>
