<?xml version="1.0"?>
<!--
/**
 * This is the main configuration file. Defines all models, blocks,
 * helpers, etc.
 */
-->
<config>
    <modules>
        <Wfn_Tagger>
            <version>1.0.0.0</version>
        </Wfn_Tagger>
    </modules>
    <admin>
        <routers>
            <wfn_tagger>
                <use>admin</use>
                <args>
                    <module>Wfn_Tagger_Adminhtml</module>
                    <frontName>wfntagger</frontName>
                </args>
            </wfn_tagger>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <wfn_tagger>
                    <file>wfn_tagger.xml</file>
                </wfn_tagger>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <wfn_tagger>
                <class>Wfn_Tagger_Block</class>
            </wfn_tagger>
            <adminhtml>
                <rewrite>
                    <!-- Rewrite orders grid to add tags column -->
                    <sales_order_grid>Wfn_Tagger_Block_Adminhtml_OrdersGrid</sales_order_grid>
                </rewrite>
                <rewrite>
                    <!-- Rewrite customers grid to add tags column -->
                    <customer_grid>Wfn_Tagger_Block_Adminhtml_CustomersGrid</customer_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <wfn_tagger>
                <class>Wfn_Tagger_Helper</class>
            </wfn_tagger>
        </helpers>
        <models>
            <wfn_tagger>
                <class>Wfn_Tagger_Model</class>
                <resourceModel>wfn_tagger_resource</resourceModel>
            </wfn_tagger>
            <wfn_tagger_resource>
                <class>Wfn_Tagger_Model_Resource</class>
                <entities>
                    <tag>
                        <table>wfn_tagger_tag</table>
                    </tag>
                    <relation>
                        <table>wfn_tagger_tag_relation</table>
                    </relation>
                </entities>
            </wfn_tagger_resource>
            <customer_resource>
                <rewrite>
                    <!-- Rewrite customer collection to add tags field -->
                    <customer_collection>Wfn_Tagger_Model_Resource_CustomerCollection</customer_collection>
                </rewrite>
            </customer_resource>
            <sales_resource>
                <rewrite>
                    <!-- Rewrite order grid collection to add tags field -->
                    <order_grid_collection>Wfn_Tagger_Model_Resource_OrderGridCollection</order_grid_collection>
                </rewrite>
            </sales_resource>
        </models>
        <resources>
            <wfn_tagger_setup>
                <setup>
                    <module>Wfn_Tagger</module>
                </setup>
            </wfn_tagger_setup>
        </resources>
    </global>
</config>
